
// Champions League Theme -- Default theme
$color-cl-1 : #010449;
$color-cl-2 : #020B40;
$color-cl-3 : #031F73;
$color-cl-4 : #0656BF;
$color-cl-5 : #fe30fd;
$color-fav  : #fbbc37;
$color-pressure-graph-1 : #2196F3;
$color-pressure-graph-2 : #4CAF50;
$premier-leage-1 : #38003c;
$premier-leage-2 : #e90052;
$premier-leage-3 : #00ff87;
$premier-leage-4 : #f0f0f0;

