.event-details {
    background: #f1f2f3;
    min-height: calc(100vh - 212px);
    &-scoreboard {
        padding: 15px 0;
        .team-logo {
            img {
                max-width: 100%;
                max-height: 50px;
            }
        }
        .container,
        .col {
            padding: 0 5px;
        }
        .row {
            margin-left: -5px;
            margin-right: -5px;
        }
        .team-name {
            font-weight: bolder;
            @include line-clamp(1);
        }
        .team-coach {
            font-size: 0.8rem;
            font-weight: lighter;
        }
        .team-form {
            display: inline-block;
            width: 16px;
            line-height: 16px;
            height: 16px;
            text-align: center;
            margin-right: 2px;
            color: #fff;
            font-size: 0.7rem;
            font-weight: bold;
            &-L {
                background: #d0021b;
            }
            &-D {
                background: #c2c300;
            }
            &-W {
                background: #2ba774;
            }
        }
        .score {
            font-size: 2.5rem;
            &-halftime {
                font-size: 0.8rem;
                color: #777;
            }
        }
    }
    .swipe-tabs {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        position: relative;
        overflow-x: scroll;
        color: rgba(0, 0, 0, 0.87);
        background: #fff;
        //box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        border-bottom: 1px solid #e8e8e8;
        z-index: 2;
        &::-webkit-scrollbar {
            display: none;
        }
        li {
            display: flex;
            flex-shrink: 0;
            padding: 15px 20px 17px 20px;
            flex-direction: row;
            cursor: pointer;
            &.active {
                color: #1890ff;
            }
        }
        .marker {
            position: absolute;
            display: block;
            border-bottom: 2px solid #1890ff;
            height: 2px;
            transition: width .3s, left .3s;
            bottom: 0px;
            padding: 0;
        }
    }
    .swipe-shadows {
        display: block;
        width: 100%;
        height: 35px;
        position: relative;
        margin-top: -45px;
        z-index: 2;
        pointer-events: none;
        margin-bottom: 10px;
        &:before {
            content: '';
            width: 20px;
            position: absolute;
            height: calc(100% - 2px);
            top: 0;
            left: 0;
            pointer-events: none;
            background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        }
        &:after {
            content: '';
            width: 20px;
            position: absolute;
            height: calc(100% - 2px);
            top: 0;
            left: calc(100% - 20px);
            pointer-events: none;
            background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        }
    }
    .swipe-contents {
        .swipe-content {
            min-height: 0px;
        }

        .stats {
            background: yellow;
        }
        .line-up {
            background: green;
        }
        .standing {
            background: green;
        }
    }
    .white-box {
        margin: 0 -15px 10px -15px;
        background: #fff;
        padding: 12px 12px 0 12px;
        border-radius: 4px;
        font-size: 0.9rem;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
        &.top-border-radius-0 {
            border-radius: 0 0 4px 4px;
        }
        .title {
            font-weight: 700;
            border-bottom: 1px solid #edeef0;
            padding-bottom: 12px;
        }
        .body {
            padding: 12px 0;
        }
        .footer {
            border-top: 1px solid #edeef0;
            padding: 12px 0;
            &.see-more {
                padding: 0;
                a {
                    padding: 12px 0;
                    display: block;
                    text-align: center;
                }
            }
            a {
                font-weight: 700;
            }
        }
    }
}

.ripple-effect {
    position: relative;
    overflow: hidden;
}

.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, .3);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}

.blue .ripple {
    background: rgba(#1890ff, .3);
}

.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
