.event-details {
    background: #f1f2f3;
    min-height: calc(100vh - 212px);
    &-scoreboard {
        padding: 15px 0;
        &.stadium {
            background: url(../images/stadium13.jpg) center center no-repeat;
            background-size: cover;
            color: #fff;
        }
        .team-logo {
            img {
                max-width: 100%;
                max-height: 50px;
            }
        }
        .container,
        .col {
            padding: 0 5px;
            &.middle {
                max-width: 105px;
            }
        }
        .row {
            margin-left: -5px;
            margin-right: -5px;
        }
        .team-name {
            font-weight: bolder;
            @include line-clamp(1);
        }
        .team-coach {
            font-size: 0.8rem;
            font-weight: lighter;
        }
        .team-form {
            display: inline-block;
            width: 16px;
            line-height: 16px;
            height: 16px;
            text-align: center;
            margin-right: 2px;
            color: #fff;
            font-size: 0.7rem;
            font-weight: bold;
            &-L {
                background: #d0021b;
            }
            &-D {
                background: #c2c300;
            }
            &-W {
                background: #2ba774;
            }
        }
        .score {
            font-size: 2rem;
            background: $premier-leage-2;
            color: $premier-leage-4;
            font-weight: 700;
            position: relative;
            z-index: 3;
            &-halftime {
                font-size: 0.8rem;
                color: #777;
            }
        }
        .time {
            background: $premier-leage-4;
            color: $premier-leage-1;
            padding: 3px 0 2px;
            max-width: 80%;
            margin-left: 10%;
            position: relative;
            z-index: 2;
            bottom: -26px;
            animation: timeGoesUp .6s cubic-bezier(0.32, 0.08, 0.24, 1) .5s forwards;
        }
        .score-halftime {
            background: $premier-leage-1;
            color: $premier-leage-4;
            padding: 3px 0 2px;
        }
    }
    .swipe-tabs {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        position: relative;
        overflow-x: scroll;
        color: rgba(0, 0, 0, 0.87);
        background: #fff;
        border-bottom: 1px solid #e8e8e8;
        z-index: 2;
        &::-webkit-scrollbar {
            display: none;
        }
        li {
            display: flex;
            flex-shrink: 0;
            padding: 15px 20px 17px 20px;
            flex-direction: row;
            cursor: pointer;
            &.active {
                color: $premier-leage-2;
            }
        }
        .marker {
            position: absolute;
            display: block;
            border-bottom: 2px solid $premier-leage-2;
            height: 2px;
            transition: width .3s, left .3s;
            bottom: 0px;
            padding: 0;
        }
    }
    .swipe-shadows {
        display: block;
        width: 100%;
        height: 35px;
        position: relative;
        margin-top: -45px;
        z-index: 2;
        pointer-events: none;
        margin-bottom: 10px;
        &:before {
            content: '';
            width: 20px;
            position: absolute;
            height: calc(100% - 2px);
            top: 0;
            left: 0;
            pointer-events: none;
            background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        }
        &:after {
            content: '';
            width: 20px;
            position: absolute;
            height: calc(100% - 2px);
            top: 0;
            left: calc(100% - 20px);
            pointer-events: none;
            background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        }
    }
    .swipe-contents {
        .swipe-content {
            min-height: 0px;
        }

        .stats {
            background: yellow;
        }
        .line-up {
            background: green;
        }
        .standing {
            background: green;
        }
    }
    .white-box {
        margin: 0 -15px 10px -15px;
        background: #fff;
        padding: 12px 12px 0 12px;
        border-radius: 4px;
        font-size: 0.9rem;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
        &:empty {
            display: none;
        }
        &.top-border-radius-0 {
            border-radius: 0 0 4px 4px;
        }
        .title {
            font-weight: 700;
            border-bottom: 1px solid #edeef0;
            padding-bottom: 12px;
        }
        .body {
            padding: 12px 0;
        }
        .footer {
            border-top: 1px solid #edeef0;
            padding: 12px 0;
            &.see-more {
                padding: 0;
                a {
                    padding: 12px 0;
                    display: block;
                    text-align: center;
                }
            }
            a {
                font-weight: 700;
            }
        }
    }
    .pressure-graph {
        background: linear-gradient(
                        to bottom,
                        rgba($color-pressure-graph-1, .3) 0%,
                        rgba($color-pressure-graph-1, .3) 30%,
                        rgba($color-pressure-graph-1, .4) 30%,
                        rgba($color-pressure-graph-1, .4) 50%,
                        rgba($color-pressure-graph-2, .4) 50%,
                        rgba($color-pressure-graph-2, .4) 70%,
                        rgba($color-pressure-graph-2, .3) 70%,
                        rgba($color-pressure-graph-2, .3) 100%
        );
        height: 120px;
        position: relative;
        &-container {
            background: red;
            position: relative;
            overflow: hidden;
            top: -100%;
            height: 200%;
            background: linear-gradient(
                            to bottom,
                            #edeff2 0%,
                            #edeff2 30%,
                            #d4d8dd 30%,
                            #d4d8dd 49%,
                            #CCCCCC 51%,
                            #CCCCCC 51%,
                            #d4d8dd 51%,
                            #d4d8dd 70%,
                            #edeff2 70%,
                            #edeff2 100%
            );
            .homeLabel,
            .awayLabel {
                position: absolute;
                top: 5px;
                font-size: .9rem;
                font-weight: 400;
                left: 5px;
                color: rgba($color-pressure-graph-1, 1);
                img {
                    max-width: 25px;
                    height: auto;
                    opacity: .5;
                }
            }
            .awayLabel {
                top: auto;
                bottom: 5px;
                color: rgba($color-pressure-graph-2, 1);
            }
            .blank {
                border-left: 1px solid #aaa;
            }
        }

        .row {
            flex-wrap: nowrap;
            position: relative;
            top: 60px;
            height: 60px;
        }
        .col {
            padding: 0;
            max-width: 10px;
            &.home {
                background: rgba(#0157a3, 1);
                border: 1px solid rgba(#006dcc, 1);
                border-bottom: none;
            }
            &.away {
                background: rgba(#53b030, 1);
                border: 1px solid rgba(#65ca3f, 1);
                border-top: none;
            }
        }
        &-animation {
            background: linear-gradient(
                            to bottom,
                            #edeff2 0%,
                            #edeff2 30%,
                            #d4d8dd 30%,
                            #d4d8dd 49%,
                            #CCCCCC 51%,
                            #CCCCCC 51%,
                            #d4d8dd 51%,
                            #d4d8dd 70%,
                            #edeff2 70%,
                            #edeff2 100%
            );
            position:absolute;
            height: 100%;
            width: 100%;
            top:0;
            transform: rotate(180deg);
            animation: pressureGraphAnimation 2s cubic-bezier(0.32, 0.08, 0.24, 1) .6s forwards;
        }
    }
    .minute-measure {
        font-size: .6rem;
        position: relative;
        margin: 3px 0;
        .col {
            padding: 0;
            text-align: right;
            max-width: 16.6%;
            &.last {
                max-width: none;
            }
        }
        .empty-space {
            max-width: 3%;
        }
        .label {
            position: absolute;
            left: 0;
            width: 0;
        }
    }
    .match-incidents {
        font-size: 0.8rem;
        .row {
            margin-right: -10px;
            margin-left: -10px;
        }
        .col {
            padding-right: 10px;
            padding-left: 10px;
        }
        .col-time {
            max-width: 35px;
            padding: 0;
        }
        .col-icon {
            max-width: 30px;
        }
        .col-goal-icon {
            max-width: 30px;
        }
        .text-bold {
            font-weight: 700;
        }
        .time {
            border-radius: 100% 100%;
            height: 30px;
            width: 35px;
            line-height: 30px;
            text-align: center;
            color: #777;
            font-size: 1rem;
            margin: 0 auto;
            position: relative;
            z-index: 2;
            &:after {
                content: '';
                height: 150px;
                width: 1px;
                position: absolute;
                top: -20px;
                left: 13px;
                background: #eee;
                z-index: -1;
            }
            div {
                background: #fff;
            }
        }
        .period-time {
            padding: .7rem 0;
            background: rgba(0, 0, 0, .05);
            img {
                height: 30px;
                width: 30px;
                margin-right: 10px;
                vertical-align: middle;
                margin-left: -30px;
            }
        }
        .additional-time {
            padding: .4rem 0;
            //background: rgba(0,0,0,.03);
        }
        .yellowcard,
        .redcard {
            display: inline-block;
            vertical-align: middle;
            height: 15px;
            width: 10px;
            background: #f6c825;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        }
        .redcard {
            background: #dc0d17;
        }
        .text-gray {
            color: #aaa;
            font-size: .8rem;
        }
        .put-border {
            //border-left: 1px solid #ccc;
            &.home {
                //border-right: 1px solid #ccc;
            }
        }
        .playerIn {
            font-size: .8rem;
        }
        .playerOut {
            color: #aaa;
            font-size: .8rem;
        }
        .icon-goal {
            font-size: 1.4rem;
            vertical-align: middle;
        }
        .goal-from {
            text-transform: capitalize;
        }
        .icon-subs {
            background: url(../images/icon-subs.png) 0 0 no-repeat;
            background-size: 100% 100%;
            width: 15px;
            height: 15px;
            display: inline-block;
            vertical-align: middle;
        }
        .match-incidents-row {
            overflow: hidden;
        }
    }
}

.ripple-effect {
    position: relative;
    overflow: hidden;
}

.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, .3);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}

.blue .ripple {
    background: rgba(#1890ff, .3);
}

.purple .ripple {
    background: rgba($color-cl-5, .3);
}

.pink .ripple {
    background: rgba($premier-leage-2, .3);
}

.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}


@keyframes pressureGraphAnimation {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 100%;
    }
}

@keyframes timeGoesUp {
    from {
        bottom: - 26px
    }
    to {
        bottom: 0
    }
}
