
html {
    font-size: 14px;
    @include media(web) {
        font-size: 16px;
    }
}

body {
    left: 0;
    padding-top: 48px;
    position: relative;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    font-family: 'SF Pro Text', Helvetica, sans-serif;
    font-weight: 400;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left;
}

.py-15px {
    padding-bottom: 15px;
    padding-top: 15px;
}

.main {
    //min-height: calc(100vh - 242px);
    position: relative;
}

.homepage-list {
    min-height: calc(100vh - 252px);
}

.fetch-alert {
    color: #777;
    font-size: 1rem;
    padding: 20vh 0;
    text-align: center;
}

.fetch-alert.error {
    color: #a94442
}

.movie-title {
    font-size: 1.3rem;
    font-weight: bolder;
}

.movie-poster {
    border-radius: 10px;
}

.movie-overview {
    margin-bottom: 15px;
}

.stripe > div:nth-child(even) {
    background: rgba(0, 0, 0, .05);
}

.checkbox {
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}

.checkbox:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid #f2f2f2;
}

.checked .checkbox:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: $color-cl-4;
    border-top-style: none;
    border-right-style: none;
}

.checkbox:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    cursor: pointer;
}

footer {
    background: #f1f2f3;
    //border-top: 1px solid #ccc;
    color: #777;
    font-size: .8rem;
    padding: 2rem 0;
}

code {
    color: #333;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.error-no-game {
    padding: 20vh 0;
    text-align: center;
}

.error-refresh-btn {
    box-shadow: none;
    font-size: 40px;
    background: none;
    border: none;
}

.error-refresh-text {
}

.error-refresh-wrapper {
    cursor: pointer;
    color: #aaa;
}

.error-refresh-wrapper:hover {
    color: #222;
}

.gray {
    color: #777;
}

.f-300 {
    font-weight: 300;
}

.f-400 {
    font-weight: 400;
}

.f-500 {
    font-weight: 500;
}

.f-700 {
    font-weight: 700;
}

.text-bold {
    font-weight: 700;
}

.player-rating-amazing {
    color: #00c043;
    &-bg {
        background-color: #00c043
    }
}

.player-rating {
    &.great {

    }
}


.ripple-effect {
    position: relative;
    overflow: hidden;
    * {
        pointer-events: none;
    }
}

.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, .3);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}

.blue .ripple {
    background: rgba(#1890ff, .3);
}

.purple .ripple {
    background: rgba($color-cl-5, .3);
}

.pink .ripple {
    background: rgba($premier-leage-2, .3);
}

.rippleEffect {
    animation: rippleDrop .6s linear;
}

.rating {
    display: inline-block;
    padding: 0px 4px;
    font-weight: 700;
    &.amazing {
        color: #009f25;
        &.bg {
            background-color: #009f25;
        }
    }
    &.great {
        color: #59e000;
        &.bg {
            background-color: #59e000;
        }
    }
    &.good {
        color: #ebdf3b;
        &.bg {
            background-color: #ebdf3b
        }
    }
    &.mediocre {
        color: #e08f1b;
        &.bg {
            background-color: #e08f1b;
            color: #fff;
        }
    }
    &.underwhelming {
        color: #f55b2f;
        &.bg {
            background-color: #f55b2f;
            color: #fff;
        }
    }
    &.bad {
        color: #ff1c19;
        &-bg {
            background-color: #ff1c19;
            color: #fff;
        }
    }
    &.unrated {
        color: #ccc;
        &.bg {
            background-color: #ccc;
            color: $premier-leage-1;
            padding: 1px 10px;
        }
    }
    &.bg {
        border-radius: 2px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
        color: #333;
    }
}

.header-tabs {
    opacity:0;
    animation: fadeIn .2s linear forwards;
}

.homepage-list > div {
    opacity: 0;
    animation: fadeInUp .2s linear forwards;
    animation-delay: 1s;
    &:nth-child(1) {
        animation-delay: .05s;
    }

    &:nth-child(2) {
        animation-delay: .1s;
    }

    &:nth-child(3) {
        animation-delay: .15s;
    }

    &:nth-child(4) {
        animation-delay: .2s;
    }

    &:nth-child(5) {
        animation-delay: .25s;
    }

    &:nth-child(6) {
        animation-delay: .30s;
    }

    &:nth-child(7) {
        animation-delay: .35s;
    }
    &:nth-child(8) {
        animation-delay: .4s;
    }

    &:nth-child(9) {
        animation-delay: .45s;
    }

    &:nth-child(10) {
        animation-delay: .5s;
    }

    &:nth-child(11) {
        animation-delay: .55s;
    }

    &:nth-child(12) {
        animation-delay: .6s;
    }

    &:nth-child(13) {
        animation-delay: .65s;
    }

    &:nth-child(14) {
        animation-delay: .7s;
    }
    &:nth-child(15) {
        animation-delay: .75s;
    }

    &:nth-child(16) {
        animation-delay: .8s;
    }

    &:nth-child(17) {
        animation-delay: .85s;
    }
    &:nth-child(18) {
        animation-delay: .9s;
    }

    &:nth-child(19) {
        animation-delay: .95s;
    }
    &:nth-child(20) {
        animation-delay: 1s;
    }

}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


