.forum {
	.white-box {
		padding: 0;
		position: relative;
		z-index: 10;
	}
	.modalShadow {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.4);
		z-index: 10;
	}
	.messages-area {
		height: 400px;
		position: relative;
		z-index: -2;
		overflow-y: scroll;
		padding: 0;
		background: url(../images/bg-chat-2.jpg) center center no-repeat;
		background-size: cover;
		&::-webkit-scrollbar {
			width: 7px;
		}
		&::-webkit-scrollbar-track {
			background: transparent;
		}
		&::-webkit-scrollbar-thumb {
			background: rgba(0, 0, 0, .3);
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			li {
				background: #fff;
				color: #262626;
				border-radius: 0 7.5px 7.5px 7.5px;
				box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
				padding: 15px 20px;
				margin: 10px 40px 10px 25px;
				position: relative;
				strong {
					display: block;
					margin-bottom: 3px;
				}
				time {
					font-size: .7rem;
					color: rgba(0, 0, 0, .5);
					position: absolute;
					bottom: 3px;
					right: 7px;
				}
				&:after {
					background-color: #fff;
					border-top-right-radius: 30%;
					width: 15px;
					height: 15px;
					content: '';
					position: absolute;
					left: -7px;
					top: 0;
					transform: rotate(-90deg) skewY(-45deg);
				}
				&.mine {
					background-color: #2095FE;
					color: #fff;
					margin-right: 25px;
					margin-left: 40px;
					border-radius: 7.5px 0 7.5px 7.5px;
					time {
						color: rgba(255, 255, 255, .8);
					}
					&:after {
						background-color: #2095FE;
						border-top-right-radius: 0;
						border-top-left-radius: 30%;
						right: -7px;
						left: auto;
						transform: rotate(90deg) skewY(45deg);
					}
				}
			}
		}
	}
	.text-area {
		background: #efefef;
		position: relative;
		padding: 15px;
		border-top: 1px solid #ddd;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 30px;
			border-radius: 50%;
			z-index: -1;
			box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 1);
		}
		.row {
			margin: 0;
		}
		.col {
			padding: 0;
		}
		.col-userName {
			max-width: 30px;
		}
		.col-textarea {
			padding: 0 10px;
		}
		.col-submit {
			max-width: 40px;
		}
		.userName {
			height: 30px;
			width: 30px;
			line-height: 30px;
			text-align: center;
			border-radius: 100%;
			background: #ccc;
			color: #333;
			font-size: 1.2rem;
			margin-top: 5px;
		}
		textarea {
			border: none;
			box-shadow: none;
			background: #fff;
			line-height: 20px;
			outline: none;
			width: 100%;
			resize: none;
			border-radius: 21px;
			padding: 10px 15px;
			font-size: 15px;
			display: block;
			&::placeholder {
				color: #a0a0a0;
			}
			&::-webkit-scrollbar {
				width: 5px;
			}
			&::-webkit-scrollbar-track {
				background: #eee;
			}
			&::-webkit-scrollbar-thumb {
				background: #ccc;
			}
		}
		button {
			margin-top: 3px;
			max-width: 40px;
			border: none;
			box-shadow: none;
			background: none;
			outline: none;
			&.filled {
				i {
					color: $color-link;
				}
			}
			i {
				font-size: 2rem;
				color: #a6a6a6
			}
		}
	}
}
