.h2h {
    .tab-container {
        display: flex;
        align-items: center;
        padding: 0 15px;
        line-height: 40px;
        .team-logo {
            max-height: 25px;
            display: flex;
            margin-right: 5px;
        }
        .team-name {
            @include line-clamp(1);
            display: inline-block;
            max-width: 70px;
	        @include media(tablet) {
		        max-width: 120px;
	        }
	        @include media(web) {
		        max-width: 200px;
	        }
        }
    }
    .h2h-list {
        .tournament-title {
            top: 0;
            //background: $premier-leage-2;
        }
        .event-container:nth-child(even) {
            background: #fff;
        }
    }
    .event-time {
        .full-time {
            .day {
                display: block;
            }
        }
    }
}
