.team-details {
	&-header {
		margin: 0;
		padding: 15px 10px;
		background: #f3f5f5;
		min-height: 72px;
		.col-info,
		.col-stadium {
			padding-right: 10px;
			padding-left: 0;
			max-width: calc((100% - 40px) / 2);
		}
		.col-info {
			.name {
				font-weight: 600;
			}
			.country {
				color: #777;
			}
		}
		.col-stadium {
			font-size: .8rem;
			padding: 0;
			color: #999;
			.name {
				@include line-clamp(1);
			}
			.capacity {
				@include line-clamp(1);
			}
		}
		.col-img {
			padding: 0 10px 0 0;
			max-width: 50px;
			img {
				max-width: 100%;
			}
		}
	}
	.middle-tabs {
		position: sticky;
		z-index: 10;
		top: 48px;
	}
	.fixture {
		padding-top: 15px;
		.tournament-title {
			top: 0;
		}
		.day {
			display: block;
		}
	}
	.sort-by {
		&-container {
			margin: 0 0 13px;
			text-align: right;
			padding: 0 10px;
		}
		&-btn {
			margin-left: 15px;
			line-height: 16px;
			color: $link-color;
			border: 1px solid #eee;
			padding: 5px 10px;
			.checkbox {
				margin-right: 1.8rem;
				top: 3px;
			}
		}
	}
}
